<div class="row h-100 align-items-center justify-content-center">
  <div class="col-md-6 col-lg-4 col-xl-3">
    <!-- logo -->
    <div class="row justify-content-center">
      <div class="col-shrink">
        <code-logo></code-logo>
      </div>
    </div>

    <!-- icon -->
    <div class="row mb-2 justify-content-center">
      <div class="col-auto">
        <code-icon icon="lock-closed" color="secondary"></code-icon>
      </div>
    </div>

    <!-- username -->
    <div class="row mb-3">
      <div class="col">
        <code-input label="Username" placeholder="Your email"></code-input>
      </div>
    </div>

    <!-- password -->
    <div class="row mb-3">
      <div class="col">
        <code-input label="Password" type="password"></code-input>
      </div>
    </div>

    <!-- sign-in -->
    <div class="row mb-2">
      <div class="col">
        <code-button label="Sign in"></code-button>
      </div>
    </div>

    <!-- sign-up -->
    <div class="row mb-2">
      <div class="col">
        <code-button label="Sign up" appearance="basic"></code-button>
      </div>
    </div>
  </div>
</div>
