@font-face {
  font-family: 'Proxima Nova';
  src: url('/assets/font/ProximaNova-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/assets/font/ProximaNova-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/assets/font/ProximaNova-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
